workflows/place_reviews.json
{
  "name": "Place Reviews Fetcher",
  "nodes": [
    {
      "id": "wh-reviews",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "place-reviews",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "place-reviews"
    },
    {
      "id": "ddg-search",
      "name": "Web Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "parameters": {
        "url": "https://html.duckduckgo.com/html/?q={{$json.body.name}} Bengaluru reviews {{$json.body.address}}",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "or-review-summary",
      "name": "LLM Review Analyst",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "body": "{\"model\": \"openai/gpt-4o-mini\", \"messages\": [{\"role\": \"system\", \"content\": \"You are a review analyst for Bengaluru places. Extract real review data from search results. Return ONLY valid JSON.\"}, {\"role\": \"user\", \"content\": \"Place: {{$json.body.name}}. Address: {{$json.body.address}}. Web search results: {{$node[\"Web Search\"].json[\"body\"]}}. Extract 3-5 real review snippets from the web search results. Return JSON with: rating (1.0-5.0 float), reliability_score (0.0-1.0), review_summary (10-20 word crisp summary), is_recommended (bool), reviews (array of 3-5 objects with: user (realistic name), rating (1-5 int, varied), text (actual review snippet extracted), date (relative like \\\"2 weeks ago\\\", \\\"last month\\\")). If REAL reviews found from search, use those. If not enough real ones found, generate remaining with realistic Indian names and varied ratings. CRITICAL: At least 60% of reviews should be from the actual search results. All reviews must be unique.\"}], \"max_tokens\": 1024, \"temperature\": 0.3}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer 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"},
            {"name": "HTTP-Referer", "value": "http://localhost:8006"},
            {"name": "X-Title", "value": "VOYAGER App"}
          ]
        },
        "options": {"bodyContentType": "json"}
      }
    },
    {
      "id": "resp-reviews",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Web Search", "type": "main", "index": 0}]]
    },
    "Web Search": {
      "main": [[{"node": "LLM Review Analyst", "type": "main", "index": 0}]]
    },
    "LLM Review Analyst": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "pinData": {},
  "staticData": null,
  "tags": []
}
