workflows/place_verification.json
{
  "id": "be9d8d37-aef0-49cf-879b-281fbf749271",
  "name": "Place Verification Workflow",
  "active": true,
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "verify-place",
        "options": {}
      }
    },
    {
      "id": "openrouter-1",
      "name": "OpenRouter Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openai/gpt-4o-mini"
            },
            {
              "name": "messages",
              "value": "[{\"role\":\"system\",\"content\":\"You are a place verifier for Bengaluru. Return ONLY valid JSON.\"},{\"role\":\"user\",\"content\":\"Verify this Bengaluru place: {{$json.body.name}}. Address: {{$json.body.address}}. Return JSON with: reliability_score (0-1), rating (1-5), review_summary (string), is_recommended (bool), concerns (string or null).\"}]"
            },
            {
              "name": "max_tokens",
              "value": 512
            },
            {
              "name": "temperature",
              "value": 0.3
            },
            {
              "name": "response_format",
              "value": {
                "type": "json_object"
              }
            }
          ]
        },
        "options": {
          "headers": {
            "Authorization": "Bearer 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",
            "HTTP-Referer": "http://localhost:8006",
            "X-Title": "VOYAGER App"
          }
        }
      }
    },
    {
      "id": "response-1",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenRouter Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Analysis": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "pinData": {},
  "versionId": "9701d582-94d0-44ea-a1c7-5aec6ab902f0",
  "createdAt": "2026-01-01T00:00:00.000Z",
  "updatedAt": "2026-01-01T00:00:00.000Z"
}